body{
    padding: 0;
    margin: 0;
}
#Container {
    background-color: white;
    height: 100vh;
}
#Sidenav {
    position: fixed;
    top: 0;
    left: 0;
    background-image: radial-gradient( circle farthest-corner at 8.3% 21.6%,  rgba(252,92,125,1) 13.1%, rgba(106,130,251,1) 90% );
    width: 250px;
    height: 100%;
  
}
#section {
    background: white;
    width: calc(100% - 250px);
    height: 100vh;
    margin-left: 250px;
    overflow: hidden;
}
#section #topnav {
    position: fixed;
    top: 0;
    left: 250px;
    width: calc(100% - 250px);
   padding: 24px;
    background-image: linear-gradient( 69.2deg,  rgba(77,143,251,1) 35.3%, rgba(202,51,255,1) 100.3% );


}
#toggle {
    width:48px;
    height: 48px;
    border: none;
    border-radius: 50%;
    background-color: white;
    font-size: 24px;
    display: none;
    
}
#toggle:hover {
    background-color: darkorange;
    transition: 0.3s;
    color: white;
}
#heading {
    font-family: sans-serif;
     font-size: 28px;
    padding: 0;
    margin: 0;
    color: white;
}
#content {
    display: flex;
    align-items: center;
    gap:6px
}
#sidenav-menu {
    display: flex;
    flex-direction: column;
    padding: 14px 8px;
    gap:8px
}
#sidenav-menu button {
    border-radius: 4px;
    border: none;
    padding: 12px 0px;

}
#sidenav-menu button:hover {
    cursor: pointer;
    color:white;
    background-color: darkorange;
    transition: 0.3s;
}
#section-content{
    padding:70px 28px
}
#signin {
    display: none;
}
#card{
    box-shadow: 0 0 10px 0 #ccc;
    padding: 24px;
    width: 350px;
    
}
form {
    display: flex;
    flex-direction: column;
    gap:16px
    
}
input {
    padding: 12px 0px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
form button[type='submit']{
   border: 1px solid #ccc;
   padding: 12px 34px;
   width: fit-content;
   background-color: darkorange;
   color: white;
   border-radius: 4px;
}
#label {
    font-family: sans-serif;

}
#name-lbl ,#email-lbl,#password-lbl,#login-email-lbl,#login-password-lbl{
    padding:0px;
    margin: 0px;
    color: red;
    display: none;
    font-family: sans-serif;

}
#pass-container {
   
    position: relative;
  
}
#pass-container button {
    position: absolute;
    top: 8px;
    right:8px;
    width:28px;
    height:28px;
    background-color: #f5f5f5;
   
    padding: 4px;
    border-radius: 50%;
    border: none;
}
form input {
    outline-color:darkorange;
}
#pass-container input {
    width: 100%;
}
@media (max-width:768px){
  #Sidenav{
    width: 0;
  }
  #section , #topnav {
    width:100%;
  }
  #section {
    margin-left: 0px;
  }
  #section #topnav {
    left:0px;
    width: 100%;
    
  }
  #toggle{
    display: block;
  }

}